* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kalameh;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.navigation ul {
    position: relative;
}

.navigation ul li {
    text-align: center;
    list-style: none;
}

.navigation ul li a {
    color: #0F0E0E;
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
}

.navigation ul li:hover a {
    color: #fff;
}

.navigation ul:hover li a {
    color: #fff;
}

.navigation ul li a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(126, 126, 126, 0.1);
    z-index: -1;
    opacity: 0;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
}

.navigation ul li a:hover:before {
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 60px;
    width: 1920px;
    height: 1080px;
}

.navigation ul li:nth-child(5n+1) a:before {
    background: #0F0E0E;
}

.navigation ul li:nth-child(5n+2) a:before {
    background: #0F0E0E;
}

.navigation ul li:nth-child(5n+3) a:before {
    background: #0F0E0E;
}

.navigation ul li:nth-child(5n+4) a:before {
    background: #0F0E0E;
}

.navigation ul li:nth-child(5n+5) a:before {
    background: #0F0E0E;
}